.all {
    display: flex;
    justify-content: center;
    height: 2000px;

}

.text_section_h3 {
    position: absolute;
    height: 30px;
    width: 90%;
    background-color: rgb(172, 187, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text_section_p {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
}

.text_section {
    position: absolute;
    top: 80px;
    width: 93%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px rgb(187, 192, 187);
    background-color: rgb(116, 124, 138);
}

.images_display_box {
    top: 330px;
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.container {
    position: absolute;
    top: 80px;
    width: 96%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.images1_box {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
}

.images1 {
    position: absolute;
    width: 350px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.images1_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 260px;
}

.arrow1_box {
    top: 330px;
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
    height: 100px;
}

.arrow1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100px;

}

.cut_images_container {
    top: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.cut_images_box {

    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}

.cutting_images {
    width: 60px;
    height: 50px;
}

.cut_images_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 285px;
}

.arrow2_box {
    top: 360px;
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
    height: 100px;

}

.black_images_container {
    top: 930px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.delete_black_images_container {
    top: 1410px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.probability_container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1900px;
}

.probability_content {

    display: flex;
    justify-content: center;
    /* background-color: rgb(210, 242, 242); */
    width: 300px;
    height: 120px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}

.probability_h4_1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_h4_2 {
    top: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_h4_3 {
    top: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 120px;
}

.arrow4_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 190px;
    height: 100px;
}

.conclusion_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2190px;
    width: 95%;
    height: 230px;
}

.conclusion_h4 {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 200px;
    height: 100px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.conclusion_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 120px;
}