.all {
    display: flex;
    justify-content: center;
    height: 2000px;

}

.text_section_h3 {
    position: absolute;
    height: 30px;
    width: 50%;
    background-color: rgb(172, 187, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text_section_p {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
}

.text_section {
    position: absolute;
    top: 80px;
    width: 87%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px rgb(187, 192, 187);
    background-color: rgb(116, 124, 138);
}

.images_display_box {
    top: 330px;
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.container {
    position: absolute;
    top: 80px;
    width: 96%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.images1_box {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
}

.images1 {
    position: absolute;
    width: 250px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.images1_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200px;
}

.arrow1_box {
    top: 270px;
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
    height: 100px;
}

.arrow1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100px;

}

.cut_images_container {
    top: 370px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.cut_images_box {

    position: absolute;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */

}

.cutting_images {
    width: 45px;
    height: 35px;
}

.cut_images_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 215px;
}

.arrow2_box {
    top: 280px;
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: center;
    height: 100px;

}

.black_images_container {
    top: 755px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.delete_black_images_container {
    top: 1140px;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 96%;
}

.probability_container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1530px;
}

.probability_content {

    display: flex;
    justify-content: center;
    /* background-color: rgb(210, 242, 242); */
    width: 220px;
    height: 120px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}

.probability_h4_1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_h4_2 {
    top: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_h4_3 {
    top: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}

.probability_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 120px;
}

.arrow4_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 180px;
    height: 100px;
}

.conclusion_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1800px;
    width: 95%;
    height: 400px;
}

.conclusion_h4 {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 170px;
    height: 80px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.conclusion_p {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 110px;
}

.hudie_size {
    width: 70%;
    position: absolute;
    top: 130px;
    left: 7%;
}

.liewen1_size {
    top: 180px;
    width: 70%;
    position: absolute;
    right: .1%;
}